<section class="intro">
  <div class="container">
    <p class="lead">Hi ! I'm Juan Vásquez. I am a researcher in artificial intelligence and natural language processing.</a></p>
  </div>
  <div class="container">
    <p class="lead">I'm from Mexico City, and you can find my work in this site. You can also contact me on any of the following links:</a></p>
  </div>
</section>

<footer> 
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-43476854-8ca6-4826-b4a2-94828a750fd7"></div>
</footer>
