<section class="intro">
  <div class="container">
    <p class="lead">Hi! I'm Juan Vásquez. I'm a researcher in artificial intelligence and natural language processing.</a></p>
  </div>
  <div class="container">
    <p class="lead">I'm from Mexico City, and you can find my work in this site. You can also contact me on any of the following links:</a></p>
  </div>
</section>

<footer> 
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-0b1604fb-9121-46dd-894b-8ceddcac1057"></div>
</footer>
