
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about me👋🏾 ' | prepend: site.baseurl | prepend: site.url }}">about me👋🏾</a></li>
      <li><a href="{{ '/publications🗞' | prepend: site.baseurl | prepend: site.url }}">publications🗞</a></li>
      <li><a href="{{ '/teaching🧑🏽‍🏫' | prepend: site.baseurl | prepend: site.url }}">teaching🧑🏽‍🏫</a></li>
      <li><a href="{{ '/other work🦹🏽‍♂️' | prepend: site.baseurl | prepend: site.url }}">other work🦹🏽‍♂️</a></li>
      <li><a href="{{ '/cv📝<' | prepend: site.baseurl | prepend: site.url }}">cv📝</a></li>
    </ul>
  </div>
</nav>






